<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingying.st.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.dingying.st.po.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="threshold" jdbcType="INTEGER" property="threshold" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="userColumns">
    <![CDATA[ id,account,name,salt,password,id_number,age,sex,phone,createdate,threshold,status ]]>
  </sql>
  <sql id="userDynamicWhere">
    <where>
      <if test="null != id and '' !=  id">and id = #{ id}</if>
      <if test="null != account and '' !=  account">and account = #{ account}</if>
      <if test="null != name and '' !=  name">and name = #{ name}</if>
      <if test="null != salt and '' !=  salt">and salt = #{ salt}</if>
      <if test="null != password and '' !=  password">and password = #{ password}</if>
      <if test="null != idNumber and '' !=  idNumber">and id_number = #{ idNumber}</if>
      <if test="null != age and '' !=  age">and age = #{ age}</if>
      <if test="null != sex and '' !=  sex">and sex = #{ sex}</if>
      <if test="null != phone and '' !=  phone">and phone = #{ phone}</if>
      <if test="null != createdate and '' !=  createdate">and createdate = #{ createdate}</if>
      <if test="null != threshold and '' !=  threshold">and threshold = #{ threshold}</if>
      <if test="null != status and '' !=  status">and status = #{ status}</if>
	</where>
  </sql>
  <sql id="userDynamicLikeWhere">
    <where>
      <if test="null != id and '' !=  id">and id LIKE #{ id}</if>
      <if test="null != account and '' !=  account">and account LIKE #{ account}</if>
      <if test="null != name and '' !=  name">and name LIKE #{ name}</if>
      <if test="null != salt and '' !=  salt">and salt LIKE #{ salt}</if>
      <if test="null != password and '' !=  password">and password LIKE #{ password}</if>
      <if test="null != idNumber and '' !=  idNumber">and id_number LIKE #{ idNumber}</if>
      <if test="null != age and '' !=  age">and age LIKE #{ age}</if>
      <if test="null != sex and '' !=  sex">and sex LIKE #{ sex}</if>
      <if test="null != phone and '' !=  phone">and phone LIKE #{ phone}</if>
      <if test="null != createdate and '' !=  createdate">and createdate LIKE #{ createdate}</if>
      <if test="null != threshold and '' !=  threshold">and threshold LIKE #{ threshold}</if>
      <if test="null != status and '' !=  status">and status LIKE #{ status}</if>
	</where>
  </sql>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="userColumns" /> from  user where id = #{id}
  </select>
  <select id="getOne" parameterType="com.dingying.st.po.User" resultMap="BaseResultMap">
    select <include refid="userColumns" /> from  user <include refid="userDynamicWhere" /> limit 0 , 1
  </select>
  <select id="list" parameterType="map" resultMap="BaseResultMap">
    select <include refid="userColumns" /> from  user <include refid="userDynamicWhere" />
	<if test="orderBy != null and orderBy != ''">
          order by ${orderBy}
      </if>
  </select>
  <select id="listPage" parameterType="map" resultMap="BaseResultMap">
    select <include refid="userColumns" /> from  user <include refid="userDynamicWhere" />
	<if test="orderBy != null">
            order by ${orderBy}
        </if>
        <if test="fromIndex != null and fromIndex > -1 and pageSize != null and pageSize > 0">
            limit #{fromIndex},#{pageSize}
        </if>
  </select>
  <select id="listLikePage" parameterType="map" resultMap="BaseResultMap">
    select <include refid="userColumns" /> from  user <include refid="userDynamicLikeWhere" />
	<if test="orderBy != null">
            order by ${orderBy}
        </if>
        <if test="fromIndex != null and fromIndex > -1 and pageSize != null and pageSize > 0">
            limit #{fromIndex},#{pageSize}
        </if>
  </select>
  <select id="countLike" parameterType="com.dingying.st.po.User" resultType="java.lang.Long">
    select count(1) from user <include refid="userDynamicLikeWhere" />
  </select>
  <select id="count" parameterType="com.dingying.st.po.User" resultType="java.lang.Long">
    select count(1) from user <include refid="userDynamicWhere" />
  </select>
  <sql id="save_user_columns">
    insert into user(
		id ,account ,name ,salt ,password ,id_number ,age ,sex ,phone ,createdate ,threshold ,status
	) values
  </sql>
  <sql id="save_user_values">
    (
	  #{ id,jdbcType=BIGINT},
	  #{ account,jdbcType=VARCHAR},
	  #{ name,jdbcType=VARCHAR},
	  #{ salt,jdbcType=VARCHAR},
	  #{ password,jdbcType=VARCHAR},
	  #{ idNumber,jdbcType=VARCHAR},
	  #{ age,jdbcType=TINYINT},
	  #{ sex,jdbcType=BIT},
	  #{ phone,jdbcType=VARCHAR},
	  #{ createdate,jdbcType=TIMESTAMP},
	  #{ threshold,jdbcType=INTEGER},
	  #{ status,jdbcType=TINYINT}
	)
  </sql>
  <insert id="save" keyProperty="id" parameterType="com.dingying.st.po.User" useGeneratedKeys="true">
    <include refid="save_user_columns" /><include refid="save_user_values" />
  </insert>
  <insert id="batchSave" parameterType="list">
    <foreach collection="list" index="index" item="item" open="" separator=";" close="">
	  <include refid="save_user_columns" /><include refid="save_user_values" />
	</foreach>
  </insert>
  <sql id="userUpdate">
    update user 
	<set> 
      <if test="null != id">id = #{ id,jdbcType=BIGINT},</if>
      <if test="null != account">account = #{ account,jdbcType=VARCHAR},</if>
      <if test="null != name">name = #{ name,jdbcType=VARCHAR},</if>
      <if test="null != salt">salt = #{ salt,jdbcType=VARCHAR},</if>
      <if test="null != password">password = #{ password,jdbcType=VARCHAR},</if>
      <if test="null != idNumber">id_number = #{ idNumber,jdbcType=VARCHAR},</if>
      <if test="null != age">age = #{ age,jdbcType=TINYINT},</if>
      <if test="null != sex">sex = #{ sex,jdbcType=BIT},</if>
      <if test="null != phone">phone = #{ phone,jdbcType=VARCHAR},</if>
      <if test="null != createdate">createdate = #{ createdate,jdbcType=TIMESTAMP},</if>
      <if test="null != threshold">threshold = #{ threshold,jdbcType=INTEGER},</if>
      <if test="null != status">status = #{ status,jdbcType=TINYINT}</if>
	</set>
	where id = #{id}
  </sql>
  <update id="update" parameterType="com.dingying.st.po.User">
    <include refid="userUpdate" />
  </update>
  <update id="batchUpdate" parameterType="list">
    <foreach collection="list" index="index" item="item" open="" separator=";" close="">
	  <include refid="userUpdate" />
	</foreach>
  </update>
  <delete id="delById">
    <![CDATA[ delete from user where id = #{id} ]]>
  </delete>
  <delete id="delArray">
    delete from user where id in
	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
  </delete>
  <delete id="delList">
    delete from user where id in
	<foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
  </delete>
</mapper>